<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380565280554-ms08mlas963p3lrj0f5bg1jpj7paog6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380565280554-ms08mlas963p3lrj0f5bg1jpj7paog6t</string>
	<key>API_KEY</key>
	<string>AIzaSyA2K4GxoNxj9FBZlnEDKqcClq1ts1wbzQA</string>
	<key>GCM_SENDER_ID</key>
	<string>380565280554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sri.plants</string>
	<key>PROJECT_ID</key>
	<string>plantify-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>plantify-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380565280554:ios:0676de75689574d4f7f053</string>
	<key>DATABASE_URL</key>
	<string>https://plantify-firebase.firebaseio.com</string>
</dict>
</plist>